
#include "stm32f4_disco.dtsi"

/ {
	lcd_bl: lcd_bl {			
		compatible = "lcd-pins";
		gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;	
	};
	lcd_enb: lcd_enb {			
		compatible = "lcd-pins";
		gpios = <&gpiob 13 GPIO_ACTIVE_LOW>;
	};
	lcd_rst: lcd_rst {			
		compatible = "lcd-pins";
		gpios = <&gpioc 5 GPIO_ACTIVE_LOW>;
	};		
	lcd_cmd: lcd_cmd {			
		compatible = "lcd-pins";
		gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
	};		
	lcd_dta: lcd_dta {			
		compatible = "lcd-pins";
		gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
	};		
	lcd_clk: lcd_clk {			
		compatible = "lcd-pins";
		gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
	};			
	buzzer: buzzer {
		compatible = "buzzer";
		gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
	};
	encoder_pins: encoder_pins {
		compatible = "encoder";
		gpios = <&gpioc 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
				<&gpioc 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
	buttons: buttons {
		compatible = "buttons";
		gpios = <&gpioc 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
				<&gpioe 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};	
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc1 10>;
		io-channel-names = "ADC_V";
	};	
	aliases {		
		eeprom-0 = &i2c_eeprom;
	};				
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pc10 &usart3_rx_pc11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart3_tx_pc10 {
	drive-open-drain;
	bias-pull-up;
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;
 
	channel@10 {
		reg = <10>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&i2c2 {		
	//clock-frequency = <I2C_BITRATE_FAST>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";	
	i2c_eeprom: eeprom@50 {
		status = "okay";	
		compatible = "atmel,at24"; 		
		reg = <0x50>;//0x57
		size = <65536>;//256
		pagesize = <128>;//8
		address-width = <16>;//8
		timeout = <5>;
	};
};



